<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Index pagina</title>
<link rel="stylesheet" type="text/css" th:ref="@{/css/style.css}">
<style type="text/css">

	* {
	margin: 0;
	padding: 0;
	}
	body {
		font-family: "Trebuchet MS", Verdana, sans-serif;
		background: blue;
		color: white;
	}
	
	.container {
		margin: 0 auto;
		width: 80%;
		text-align:center;
		padding-top: 40px;
	}
</style>
</head>
<body>
	<div class="container">
		<h1 th:text="${titulo}" class="color-rojo"></h1>
		<h2 class="color-azul">Decorando con estylos css recursos estaticos</h2>
		<img th:src="@{/images/pug-e.jpeg}" alt="" />
	</div>

</body>
</html>